{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!--*********-->
<div style="padding-left: 10%;">
<h2> {{ result.title }} </h2> 
<img width="25%" height="25%" src="http://127.0.0.1:8000/{{result.image }}"> 
<h3>{{result.address}} </h3> 
<h4> {{result.description}} </h4>

{% if request.user.is_superuser %}


<form name="addprop" class="well form-horizontal" method="post" enctype="multipart/form-data">

		{% csrf_token %}
		
		

        
          <div class="form-group">
            <label class="col-md-4 control-label">Title:</label>  
              <div class="col-md-4 inputGroupContainer">
               <div class="input-group">
            
                <input  name="title"  class="form-control"  type="text" value="{{ result.title }}">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Address:</label>  
              <div class="col-md-4 inputGroupContainer">
               <div class="input-group">
            
                <input  name="address"  class="form-control"  type="text" value="{{ result.address }}">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Description:</label>  
              <div class="col-md-4 inputGroupContainer">
               <div class="input-group">
                <textarea class="form-control" name="description" >{{ result.description }}</textarea>

              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Image:</label>  
              <div class="col-md-4 inputGroupContainer">
               <div class="input-group">
            
                <input id="id_image" class="form-control" type="file" name="image" value="{{result.image}}">
                  Current location: {{result.image}}
              </div>
            </div>
          </div>
											

        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4">
            <button type="submit" class="btn btn-warning" >Save Edited Property! </button>
          </div>
        </div>

       
        
        

 </form>

</div>
  

{% endif %}

{% endblock %}